.leftContainer {
  position: absolute;
  width: 325px;
  height: 150px;
  z-index: 14;
  top: 50%;
  left: 50%;
  margin: -75px 0 0 -325px;
  background: rgb(27, 231, 0);
  border-radius: 10px;
  border: 7px solid rgb(22, 185, 0);
}

.leftTitle {
  margin: 15px 0 0 35px;
}

.leftLine {
  display: inline-block;
  margin-top: 20px;
  margin-left: 20px;
  width: 50%;
  border-radius: 10px;
  border-top: 5px solid rgb(22, 185, 0);
}

.rightLine {
  display: inline-block;
  margin: 20px 0 0 140px;
  width: 50%;
  border-radius: 10px;
  border-top: 5px solid rgb(0, 54, 172);
}

.centerContainer {
  position: absolute;
  width: 250px;
  height: 250px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -125px 0 0 -125px;
  background: rgb(255, 115, 0);
  border-radius: 100%;
  border: 7px solid rgb(224, 71, 0);
}

.centerContainerLogged {
  position: absolute;
  width: 250px;
  height: 250px;
  z-index: 15;
  top: 50%;
  left: 40%;
  margin: -125px 0 0 -125px;
  background: rgb(255, 115, 0);
  border-radius: 100%;
  border: 7px solid rgb(224, 71, 0);
}

.title {
  font-size: 3em;
  margin: 60px 0 0 50px;
}

.sessionBtn {
  font-family: 'Comic Sans MS', Arial;
  padding: 10px;
  margin-top: 15px;
  margin-left: 38px;
  font-size: 0.9em;
  background-color: rgb(27, 218, 2);
  border: 3px solid rgb(22, 185, 0);
  border-radius: 20px;
  cursor: pointer;
}

.sessionBtn:hover {
  background-color: rgb(24, 206, 0);
}

.sessionBtn:active {
  background-color: rgb(21, 182, 0);
}

.rightContainer {
  position: absolute;
  width: 325px;
  height: 150px;
  z-index: 14;
  top: 50%;
  left: 50%;
  margin: -75px 0 0 0px;
  background: rgb(0, 73, 231);
  border-radius: 10px;
  border: 7px solid rgb(0, 54, 172);
}

.rightTitle {
  overflow: hidden;
  margin: 15px 0 0 185px;
}

.pinInput {
  margin: 15px 0 0 142.5px;
  width: 150px;
  height: 40px;
  border-radius: 20px;
  border: 4px solid rgb(0, 54, 172);
  text-align: center;
  text-transform: uppercase;
  font-size: 1.3em;
}

.playButton {
  font-family: 'Comic Sans MS', Arial;
  background-color:rgb(247, 111, 0);
  width: 120px;
  height: 40px;
  margin: 25px 0 0 60px;
  border-radius: 20px;
  border: 3px solid rgb(224, 71, 0);
  font-size: 1.2em;
}

.playButton:hover {
  cursor: pointer;
  background-color: rgb(230, 103, 0);
}

.playButton:active {
  background-color: rgb(212, 96, 0);
}

.invitadoContainer {
  position: absolute;
  width: 0px;
  height: 150px;
  z-index: 14;
  top: 50%;
  left: 40%;
  margin: -75px 0 0 0px;
  background: rgb(0, 73, 231);
  border-radius: 10px;
  border: 7px solid rgb(0, 54, 172);
}

.invitadoTitle {
  margin: 10px 0 0 -35px;
  overflow: hidden;
  height: 30px;
}

.invitadoRightLine {
  display: inline-block;
  margin: 20px 0 0 75px;
  width: 70%;
  border-radius: 10px;
  border-top: 5px solid rgb(0, 54, 172);
}

.userInput {
  margin: 15px 0 0 45px;
  width: 0px;
  height: 40px;
  border-radius: 20px;
  border: 4px solid rgb(0, 54, 172);
  text-align: center;
  font-size: 1.3em;
}

.userProfileContainer {
  display: flex;
  position: absolute;
  top: 10px;
  z-index: 2;
  right: 10px;
  width: 250px;
  height: 80px;
  background-color: rgb(27, 218, 2);
  border: 2px solid rgb(22, 185, 0);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.profilePicture {
  margin: 5px 0px 0px 5px;
  width: 70px;
  height: 70px;
  border: 2px solid rgb(22, 185, 0);
  border-radius: 100%;
}

.profileDatos {
  position: relative;
  left: 10px;
  top: 5px;
  width: 150px;
  height: 30px;
  display: flex;
}

.profileUserName {
  margin: 5px 0 0 0;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.studentIcon {
  width: 20px;
  position: relative;
  top: 3px;
  left: 15px;
}

.level {
  position: relative;
  top: 6px;
  left: 20px;
}

.dashboardButton {
  font-family: 'Comic Sans MS', Arial, Helvetica, sans-serif;
  position: absolute;
  top: 40px;
  left: 90px;
  width: 150px;
  font-size: 0.9em;
  height: 35px;
  border: 2px solid rgb(22, 185, 0);
  background-color: rgb(27, 218, 2);
  border-radius: 10px;
}

.dashboardButton:hover {
  cursor: pointer;
  background-color: rgb(24, 208, 0);
}

.dashboardButton:active {
  cursor: pointer;
  background-color: rgb(26, 201, 3);
}

.logoutButton {
  font-family: 'Comic Sans MS', Arial, Helvetica, sans-serif;
  display: flex;
  position: absolute;
  font-size: 12px;
  z-index: 1;
  top: 90px;
  line-height: 35px;
  text-align: center;
  right: 10px;
  width: 88px;
  height: 40px;
  background-color: rgb(27, 218, 2);
  border: 2px solid rgb(22, 185, 0);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.logoutButton:hover {
  cursor: pointer;
  background-color: rgb(24, 208, 0);
}

.logoutButton:active {
  cursor: pointer;
  background-color: rgb(26, 201, 3);
}
